.player-container {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 15vw;
  margin-left: 1rem;
  margin-top: 1rem;
}

.player-option {
  display: flex;
  flex-direction: row;
}
